include ../title/title
include ../search/search
include ../drop-down/drop-down

mixin search-drop-down-block()
  section.search-drop-down-block
    +title("Search / Drop down")
    .search-drop-down-block__search
      +search({
        action: "",
        searchValue: "",
        placeholder: "Search",
        emptyResult: false 
      })
    .search-drop-down-block__empty-search
      +search({
        action: "",
        searchValue: "I’ve not found what I’m looking for...",
        placeholder: "",
        emptyResult: true 
        })
    .search-drop-down-block__drop-down
      +drop-down({
        theme: "custom",
        placeholder: "Choose An Option",
        items: [
          "This is option 1", 
          "This is option 2", 
          "This is option 3", 
          "This is option 4"
          ]})