@import '../colors';

.title {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1px;
  text-align: center;

  color: $main-text;

  text-transform: uppercase;
}