@import '../colors';

.title {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  letter-spacing: 0.08rem;
  text-align: center;

  color: $main-text;

  text-transform: uppercase;
}