@import '../../vars.scss';

@mixin standard-button-shadow($color) {
  box-shadow: 0 0.25rem 0 0 $color;
}

.standard-button {
  position: relative;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.08rem;
  color: $third-lightest;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  background: $third-lightest;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &_color {
    &_green {
      @include standard-button-shadow($main);
      color: $main;
      border-color: $main;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($main-dark);
        color: $third-lightest;
        background: $main;
        outline: 0;
      }

      &:active {
        color: $third-lightest;
        background: $main;
        box-shadow: none;
        outline: 0;
      }
    }

    &_orange {
      @include standard-button-shadow($second);
      color: $second;
      border-color: $second;
    
      &:hover,
      &:focus {
        @include standard-button-shadow($second-darker);
        color: $third-lightest;
        background: $second;
        outline: 0;
      }

      &:active {
        color: $third-lightest;
        background: $second;
        box-shadow: none;
        outline: 0;
      }
    }

    &_fullgreen {
      @include standard-button-shadow($main-dark);
      border-color: $main;
      background: $main;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($main-dark);
        background: $main-dark;
        outline: 0;
      }

      &:active {
        background: $main-dark;
        box-shadow: none;
        outline: 0;
      }
    }

    &_darkgreen {
      @include standard-button-shadow($main-darkest);
      color: $main-darker;
      border-color: $main-darker;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($main-darkest);
        color: $third-lightest;
        background: $main-darker;
        outline: 0;
      }

      &:active {
        color: $third-lightest;
        background: $main-darker;
        box-shadow: none;
        outline: 0;
      }
    }
  }
  
  &_size{
    &_small {
      padding: 0.33rem 1.4rem;
      font-size: 0.83rem;
    }

    &_big {
      padding: 0.58rem 2.7rem 0.67rem;
      font-size: 1rem;
    }

    &_wide {
      width: 100%;
      padding: 0.58rem 0.83rem 0.67rem;
      font-size: 1rem;
    }

    &_special {
      padding: 0.42rem 1.5rem 0.42rem;
      font-size: 0.83rem;
    }
  }

  &__ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;

    &_circle {
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
    }

    &_active &_circle {
      -webkit-animation: a-ripple .4s ease-in;
      animation: a-ripple .4s ease-in;
    }
  }
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
