@import '../../colors.scss';
@import '../../mixins.scss';

.standard-button {
  position: relative;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.08rem;
  color: $main-white;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  background: $main-white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &_color{
    &_green {
      @include standard-button-shadow($main-green);
      color: $main-green;
      border-color: $main-green;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($main-green-shadow);
        color: $main-white;
        background: $main-green;
        outline: 0;
      }

      &:active {
        color: $main-white;
        background: $main-green;
        box-shadow: none;
        outline: 0;
      }
    }

    &_orange {
      @include standard-button-shadow($main-orange);
      color: $main-orange;
      border-color: $main-orange;
    
      &:hover,
      &:focus {
        @include standard-button-shadow($main-orange-shadow);
        color: $main-white;
        background: $main-orange;
        outline: 0;
      }

      &:active {
        color: $main-white;
        background: $main-orange;
        box-shadow: none;
        outline: 0;
      }
    }

    &_fullgreen {
      @include standard-button-shadow($deep-green);
      border-color: $main-green;
      background: $main-green;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($deep-green);
        background: $deep-green;
        outline: 0;
      }

      &:active {
        background: $deep-green;
        box-shadow: none;
        outline: 0;
      }
    }

    &_darkgreen {
      @include standard-button-shadow($dark-green-shadow);
      color: $dark-green;
      border-color: $dark-green;
      
      &:hover,
      &:focus {
        @include standard-button-shadow($dark-green-shadow);
        color: $main-white;
        background: $dark-green;
        outline: 0;
      }

      &:active {
        color: $main-white;
        background: $dark-green;
        box-shadow: none;
        outline: 0;
      }
    }
  }
  
  &_size{
    &_small {
      padding: 0.33rem 1.4rem;
      font-size: 0.83rem;
    }

    &_big {
      padding: 0.58rem 2.7rem 0.67rem;
      font-size: 1rem;
    }

    &_wide {
      width: 100%;
      padding: 0.58rem 0.83rem 0.67rem;
      font-size: 1rem;
    }

    &_special {
      padding: 0.42rem 1.5rem 0.42rem;
      font-size: 0.83rem;
    }
  }

  &__ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;

    &_circle {
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
    }

    &_active &_circle {
      -webkit-animation: a-ripple .4s ease-in;
      animation: a-ripple .4s ease-in;
    }
  }
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
