.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 5rem;
  height: 1.67rem;
  padding: 0.25rem;
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__label {
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
    transition: 0.15s ease-out;
    position: relative;
    display: block;
    height: inherit;
    padding: 0.17rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    background: #e5e5e5;
    border-radius: inherit;

    &:before, 
    &:after {
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      line-height: 1;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }

    &:before {
      content: attr(data-off);
      right: 11px;
      color: #ffffff;
    }

    &:after {
      content: attr(data-on);
      left: 0.92rem;
      color: white;
      opacity: 0;
    }
  }

  &__input:checked ~ &__label {
    background: #4eb7a8;
  }
  &__input:checked ~ &__label:before {
    opacity: 0;
  }
  &__input:checked ~ &__label:after {
    opacity: 1;
  }

  &__handle {
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    position: absolute;
    top: 0.5rem;
    left: 0.58rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 0.82rem;
  }

  &__input:checked ~ &__handle {
    left: 3.42rem;
  }
}