.news-and-events {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 592px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__news-item,
  &__event-item {
    margin-top: 1.952rem;
  }
}