.news-and-events-block {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.952rem;

    @media(max-width: 592px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}