.arrow-button {
    position: relative;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;

        width: 12px;
        height: 12px;
    }

    &_left::after {
        top: 15px;
        left: 17px;
        transform: rotate(-135deg);
    }

    &_right::after {
        top: 15px;
        left: 12px;
        transform: rotate(45deg);
    }

    &_white {
        background: #ffffff;
        border: 3px solid #4eb7a8;

        &::after {
            border-top: 3px solid #4eb7a8;
            border-right: 3px solid #4eb7a8;
        }

        &:hover,
        &:focus {
            outline: 0;
            background: #4eb7a8;

            &::after,
            &::after {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            }
        }
    }

    &_green {
        background: #4eb7a8;
        border: 3px solid #4eb7a8;
        
        &::after {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
        }

        &:hover,
        &:focus {
            outline: 0;
            background: #ffffff;

            &::after,
            &::after {
            border-top: 3px solid #4eb7a8;
            border-right: 3px solid #4eb7a8;
            }
        }
    }

    &:disabled {
        background: #e5e5e5;
        border: 3px solid #e5e5e5;
        cursor: default;

        &::after {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
        }
    }
}