@import '../../colors.scss';

.slider {
  height: 0.42rem;
  background: $main-gray;

  &.ui-widget.ui-widget-content {
    border: 0;
  }

  & .ui-slider-handle {
    position: relative;
    top: -0.67rem;
    width: 1.63rem;
    height: 1.63rem;
    padding: 0;
    line-height: 1.6;
    border-radius: 50%;
    border: none;
    
    &_orange,
    &_orange:active {
      background: $main-orange;
    }
    
    &_green,
    &_green:active {
      background: $main-green;
    }
  }

  & .ui-slider-range {
    &_green {
      background: $main-green;
    }
  }

  &__scale {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 0.92rem;
    line-height: 1;
    color: $main-gray;

    &_hide {
      display: none;
    }
  }

  &__bubble {
    position: absolute;
    width: 1.5rem;
    bottom: 2.25rem;
    left: -50%;
    padding: 0.4rem 0.67rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.08rem;
    line-height: 1.2;
    color: $main-white;
    border-radius: 0.33rem;
    text-align: center;

    &_orange, {
      background: $main-orange;
    }
    
    &_green {
      background: $main-green;
    }

    &::after {
      content: '';
      position: absolute;
      left: 1.25rem;
      bottom: -0.25rem;
      transform: rotate(45deg);

      &_orange, {
        border: 0.33rem solid $main-orange;
      }
      
      &_green {
        border: 0.33rem solid $main-orange;
      }
    }

    &_hide {
      display: none;
    }
  }
}