select(class="select")
	option
	option(class="select__item" value="This is option 1") This is option 1
	option(class="select__item" value="This is option 2") This is option 2
	option(class="select__item" value="This is option 3") This is option 3
	option(class="select__item" value="This is option 4") This is option 4
