@import '../colors';

.ui-selectmenu-button_custom {
  padding: 0;
  font-family: "SourceSansPro", Arial, sans-serif;
  font-size: 1.16rem;
  font-weight: 400;
  background: $main-gray;
  color: $main-gray-text;
  border: none;
  
  &:hover {
    background: $main-green;
    border: none;
  }

  &:focus,
  &:active {
    border: none;
  }

  & .ui-selectmenu-icon {
    padding: 0.5rem 0.8rem;
    background-image: url("drop-down-arrow.svg");
    background-color: $main-green;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0 0.33rem 0.33rem 0;
  }

  & .ui-selectmenu-button-open {
    border-radius: 0 0 0.33rem 0;
  }

  &.ui-button {
    padding: 0;
    margin: 0;
    border: none;

    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }

  & .ui-selectmenu-text {
    padding: 0.5rem 1.1rem 0.6rem;
  }
}

.ui-selectmenu-menu_custom {

  & .ui-menu {
    padding: 0 0 0.83rem;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-size: 1.16rem;
    font-weight: 400;
    background-color: $main-green;
    border: 1px solid $main-green;
    color: $main-white;

    & .ui-menu-item-wrapper {
      padding: 0.58rem 1.08rem;
    }
  }

  & .ui-menu-item:first-child {
    display: none;
  }

  & .ui-widget.ui-widget-content {
    border: none;
  }

  & .ui-widget-content .ui-state-active {
    background: $main-gray;
    color: $main-gray-text;
    border: none;
  }
}