.ui-selectmenu-button_custom {
  padding: 0;
  font-family: "SourceSansPro", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #e5e5e5;
  color: #888888;
  border: none;
  
  &:hover {
    background: #4eb7a8;
    border: none;
  }

  &:focus,
  &:active {
    border: none;
  }

  & .ui-selectmenu-icon {
    width: 32px;
    height: 27px;
    background-image: url("select-arrow.svg");
    background-color: #4eb7a8;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0 4px 4px 0;
  }

  & .ui-selectmenu-text {
    padding: 4px 13px;
  }
}

.ui-selectmenu-menu_custom {

  & .ui-menu {
    padding: 0 0 10px;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #4eb7a8;
    border: 1px solid #4eb7a8;
    color: #ffffff;

    & .ui-menu-item-wrapper {
      padding: 7px 13px;
    }
  }

  & .ui-menu-item:first-child {
    display: none;
  }

  & .ui-widget-content .ui-state-active {
    background: #e5e5e5;
    color: #888888;
    border: none;
  }
}