section(class="charts main__charts")
    h1(class="title charts__title") Percentages / Pie chart
    +pieChart('0', 'charts')(class="charts__pie-chart")
    +pieChart('38', 'charts')(class="charts__pie-chart")
    +pieChart('62', 'charts')(class="charts__pie-chart")
    +pieChart('89', 'charts')(class="charts__pie-chart")
    +donutChart([
    {value: '100', color: '#e5e5e5'},
    {value: '65', color: '#4eb7a8'},
    {value: '35', color: '#e75735'},
    {value: '10', color: '#747474'}
    ])(class="charts__donut-chart")