include ../title/title
include ../slider/slider

mixin sliders()
  section.sliders
    +title("Sliders")
    .sliders__wrapper
      .sliders__left-column
        +slider({ value: "40", min: "0", max: "110",stepsNumber: "0", showBubble: true, showScale: false, color: "secondary" })
      .sliders__right-column
        +slider({ value: "75", min: "0", max: "100", stepsNumber: "5", showBubble: false, showScale: true, color: "primary" })