include ../user-photo/user-photo
include ../standard-button/standard-button

mixin message(content)
  - const { title, income, message, imgPath } = content;
  .message
    .message__header
      h2.message__title= title
        .message__user-profile
          +user-photo({ imagePath: "/../images/user-1.jpg", imageAlt: ""})
    .message__body
      .message__icons
        .message__bubble
        .message__camera
      .message__income= income
      form
        textarea.message__new= message
        .message__button
          +standard-button({ color: "fullgreen", size: "wide", type: "button", title: "Reply" })