section(class="standart-buttons main__standart-buttons")
    h1.title Standart buttons
        .buttons_row
            +stdButton({color: "green", size: "small", type: "button", title: "Button"})
            +stdButton({color: "green", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "small", type: "button", title: "Button"})
        .buttons_row
            +stdButton({color: "green", size: "small", type: "button", title: "Button"})
            +stdButton({color: "green", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "small", type: "button", title: "Button"})
        .buttons_row
            +stdButton({color: "green", size: "small", type: "button", title: "Button"})
            +stdButton({color: "green", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "", type: "button", title: "Button"})
            +stdButton({color: "orange", size: "small", type: "button", title: "Button"})