section(class="standart-buttons main__standart-buttons")
    h1.title Standart buttons
    +stdButton({title: "Button", parentName: "standart-buttons", color: "green", isSmall: true })
    +stdButton({title: "Button", parentName: "standart-buttons", color: "green", isSmall: false })
    +stdButton({title: "Button", parentName: "standart-buttons", color: "orange", isSmall: false })
    +stdButton({title: "Button", parentName: "standart-buttons", color: "orange", isSmall: true })