mixin stdButton(options)
  - var buttonColor = "button--" + options.color
  - var buttonSize = options.size ? "button--" + options.size : "";
  - var classes = "button " + buttonColor + " " + buttonSize;
  button(class=classes, type=type)= options.title
    div(class="button-ripple js-ripple")
      span(class="button-ripple__circle")
