include ../user-photo/user-photo
include ../user-info/user-info

mixin userProfileBlock()
	section.user-profiles
		h1.title User profile
		.user-profiles__item.user-profiles__item_first-margin
			.user-profile
				+userPhoto({imagePath: "user-profile/user.jpg", imageAlt: ""})
				+userInfo({name: "John Smith", job: "Ux designer", theme: "hovered"})
		.user-profiles__item
			.user-profile
				+userPhoto({imagePath: "user-profile/user-1.jpg", imageAlt: ""})
				+userInfo({name: "Sarah Brown", job: "Developer", theme: ""})