section(class="user-profiles form-elements__user-profile")
	h1(class="title") User profile
	include mixin-user-profile
	+userProfile("John Smith", "Ux designer", "user-profile/user.jpg", "", true, true)
	+userProfile("Sarah Brown", "Developer", "user-profile/user-1.jpg", "", false, true)