include ../title/title
include ../pie-chart/pie-chart
include ../donut-chart/donut-chart

mixin charts()
  section.charts
    +title("Percentages / Pie chart")
    .charts__row
      +pie-chart("0")
      +pie-chart("38")
      +pie-chart("62")
      +pie-chart("89") 
      +donut-chart([{
        value: "65", 
        color: "green"
      },
      {
        value: "35", 
        color: "orange"
      },
      {
        value: "10", 
        color: "gray"
      }])