include ../title/title
include ../pie-chart/pie-chart
include ../donut-chart/donut-chart

mixin charts-block()
  section.charts-block
    +title("Percentages / Pie chart")
    .charts-block__row
      +pie-chart("0")
      +pie-chart("38")
      +pie-chart("62")
      +pie-chart("89") 
      +donut-chart([{
        value: "100", 
        color: "#e5e5e5"
      },
      {
        value: "65", 
        color: "#4eb7a8"
      },
      {
        value: "35", 
        color: "#e75735"
      },
      {
        value: "10", 
        color: "#747474"
      }])