extends ../template/template.pug

block include
  include ../../blocks/stages/stages
  include ../../blocks/form/form

block title
  title Подтверждение заказа
  
block content
  main.customer-info
    section.customer-info__step
      +stages({ steps: "2", activeStep: "2" })
      h1.customer-info__title Подтверждение заказа
      .customer-info__tickets
        p.customer-info__date 3 февраля 2020 года
        p.customer-info__event Ромео и Джульетта
        p.customer-info__seat 4 ряд 2 место
        p.customer-info__price Цена 500 руб.
      .customer-info__contacts
        +form()
