include mixin-news
include mixin-event
include ../standart-buttons/mixin-buttons
section(class="news-and-events page__news-and-events")
	h1(class="title") News &amp; events
	+newsBlock({
		title: "It’s all going downhill",
		date: "24  august  2013",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
		imgPath: "news-i-events/news-image.jpg"
	})
	+eventBlock({
		day: "24",
		month: "Aug",
		title: "This is the title",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		imgPath: "news-i-events/event-image.jpg"
	})