include ../title/title
include ../user-profile/user-profile

mixin user-profile-block()
  section.user-profiles
    +title("User profile")
    .user-profile-block__item.user-profile-block__item_with-margin
      +user-profile({ imagePath: "blocks/user-profile/user.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })
    .user-profile-block__item
      +user-profile({ imagePath: "blocks/user-profile/user-1.jpg", imageAlt: "", name: "Sarah Brown", job: "Developer", theme: "" })