@import '../../colors.scss';

.donut-chart {
  width: 8.17rem;
  height: 8.17rem;
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: none;

  &__scale {
    animation: show100 2s;
  }

  &__background {
    fill: $third-lightest;
  }
}

@keyframes show100 {
  from {
    stroke-dasharray: 0 100;
  }
}