section(class="calendar page__calendar")
    h1(class="title") Calendar
    div(class="datepicker calendar__datepicker")
        input(class="datepicker__date", id="datepicker1")
        div(class="datepicker__calendar", id="datepicker")
