.page__calendar {
    margin-top: 38px;
}

.calendar__datepicker {
    margin-top: 16px;
}

.datepicker__date {
    width: 280px;
    padding: 8px 0 6px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 26px;
    color: #ffffff;
    background: #e75735;
    letter-spacing: -1px;
    border: none;
    border-radius: 3px 3px 0 0;
    text-align: center;
}