.form-elements-block {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 2.1rem;
    
    @media(max-width: 640px) {
      display: block;
    }
  }

  &__form-block {
    width: 48.5%;
    margin-top: 1.17rem;

    @media(max-width: 640px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__toggle-and-tick {
    width: 52%;

    @media(max-width: 640px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__toggles {
    margin-left: 2.42rem;
  }

  &__tick-boxes {
    margin-top: 2.25rem;
    margin-left: 2.3rem;
  }

  &__search {
    width: 48.5%;
    margin: 2.9rem 0 0;
  }

  &__user-profile {
    width: 45.5%;
    margin: 2.9rem 0 0;
   }
}