include ../title/title
include ../form/form
include ../toggles-block/toggles-block
include ../tick-boxes-block/tick-boxes-block
include ../search-drop-down-block/search-drop-down-block
include ../user-profile-block/user-profile-block

mixin form-elements-block()
	section.form-elements-block
		+title("Form elements")
		.form-elements-block__row.form-elements-block__row_margin-for-first-row 
			.form-elements-block__left-column.form-elements-block_margin-for-form-block
				+form()
			.form-elements-block__right-column
				.form-elements-block__toggles
					+toggles-block()
				.form-elements-block__tick-boxes
					+tick-boxes-block()
		.form-elements-block__row.form-elements-block__row_margin-for-second-row 
			.form-elements-block__left-column
				+search-drop-down-block()
			.form-elements-block__right-column
				.form-elements-block__user-profile
					+user-profile-block()
