include ../title/title
include ../tick-box/tick-box

mixin tick-boxes-block()
  section.tick-boxes-block
    +title("Tick boxes")
    .tick-boxes-block__row
      .tick-boxes-block__wrapper
        +tick-box({ name:"radio", isChecked: "true" })
      .tick-boxes-block__wrapper
        +tick-box({ name:"radio", isChecked: "false" })