include ../title/title
include ../tick-box/tick-box

mixin tick-boxes-block()
  section.tick-boxes
    +title("Tick boxes")
    .tick-boxes-block__row
      .tick-boxes-block__wrapper
        +tick-box()
      .tick-boxes-block__wrapper
        +tick-box("disabled")