.form-elements__toggles {
  margin-top: 26px;
  margin-left: 17px;
}

.toggles__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 18px;
}

.toggles__wrap {
  margin: 0 5px;
}