include ../title/title
include ../toggle/toggle

mixin toggles()
  section.toggles
    +title("Toggles")
    .toggles__row
      .toggles__wrapper
        +toggle()
      .toggles__wrapper
        +toggle("checked")