@import '../../vars.scss';

.widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media(max-width: $small) {
    flex-direction: column;
    align-items: center;
  }
  
  &__item {
    @media(max-width: $small) {
      margin-bottom: 3rem;
    }
  }
}