extends ../template/template.pug

block include
  include ../../blocks/player/player
  include ../../blocks/user-profile/user-profile
  include ../../blocks/pie-chart/pie-chart
  include ../../blocks/standard-button/standard-button

block title
  title Спектакль

block content
  main.performance
    section.performance__left-column
      img.performance__poster(src="images/romeo.jpg")
    section.performance__right-column
      h1.performance__title Ромео и Джульетта
      p.performance__description Если задуматься, в знаменитой истории Ромео и Джульетты нет ничего слащавого. Ничего от конфетно-открыточных историй на День Святого Валентина. Страстное влечение, краткий период тайного счастья &mdash; и неотвратимый смертельный финал. Герои пытаются бороться с роком &mdash; но каждый шаг лишь приближает развязку: законы трагедии неумолимы. Этой любви не суждена долгая жизнь.
      .performance__actors
        .performance__actor
          +user-profile({
            image: "images/romeo-actor.jpg",
            imageAlt: "Андрей Симонькин", name: "Андрей Симонькин",
            job: "Ромео",
            theme: "default",
            links: {
              facebook: "user-link.html",
              twitter: "user-link.html",
              dribble: "user-link.html",
            }
          })
        .performance__actor
          +user-profile({
            image: "images/juliet.jpg",
            imageAlt: "Евгения Родина",
            name: "Евгения Родина",
            job: "Джульетта",
            theme: "default",
            links: {
              facebook: "user-link.html",
              twitter: "user-link.html",
              dribble: "user-link.html",
            }
          })
        .performance__all-actors
          +standard-button({ color: "primary", size: "wide", type: "button", title: "Все актеры" })
      .performance__charts
        .performance__chart
          +pie-chart("70")
          p Оценка критиков
        .performance__chart
          +pie-chart("90")
          p Оценка зрителей
      .performance__purchase
        +standard-button({color: "primary", size: "wide", type: "button", title: "Купить билет"})