.slider-with-bubble {
  height: 0.42rem;
  background: #e5e5e5;

  &.ui-widget.ui-widget-content {
    border: none;
  }

  & &__handle {
    position: relative;
    top: -0.58rem;
    width: 1.63rem;
    height: 1.63rem;
    padding: 0;
    line-height: 1.6;
    border-radius: 50%;
    border: none;

    &_orange,
    &_orange:active {
      background: #e75735;
    }
  }

  &__buble {
    position: absolute;
    width: 1.83rem;
    bottom: 2.25rem;
    left: -50%;
    background: #e75735;
    padding: 0.42rem 0.67rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 1.2;
    color: #ffffff;
    border-radius: 0.33rem;
    text-align: center;
  }

  &__buble::after {
    content: '';
    position: absolute;
    left: 1.25rem;
    bottom: -0.25rem;
    border: 4px solid #e75735;
    transform: rotate(45deg);
  }
}