@import '../../colors';

.main {
  max-width: 49.5rem;
  min-width: 41rem;
  margin: 0 auto;

  &__standard-buttons {
    width: 38.8rem;
    margin: 5.92rem auto 0;

    @media(max-width: 581px) {
      margin: 5.92rem 0.75rem 0;
    }
  }

  &__arrow-buttons {
    width: 35.16rem;
    margin: 3.83rem auto 0;
  }

  &__charts {
    margin: 2.83rem auto 0;
  }

  &__sliders {
    margin-top: 1.67rem;
  }

  &__stages-bar {
    margin-top: 4rem;
  }

  &__form-elements {
    margin-top: 3.58rem;
  }

  &__news-and-events {
    margin-top: 6.83rem;
  }

  &__location {
    margin-top: 3.08rem;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.16rem;
    
    @media(max-width: 581px) {
      justify-content: center;
    }
  }

  &__videos {
    margin-top: 3.33rem;
  }
}