@import '../../vars.scss';

.main {
  max-width: 49.5rem;
  min-width: 41rem;
  margin: 0 auto;

  @media(max-width: $small) {
    padding: 0 2%;
  }

  &__standard-buttons {
    margin: 5.92rem 0 0;

    @media(max-width: $small) {
      margin: 5.92rem 0 0;
    }
  }

  &__arrow-buttons {
    margin: 3.83rem 0 0;
  }

  &__charts {
    margin: 2.83rem auto 0;
  }

  &__sliders {
    margin: 1.67rem auto 0;
  }

  &__stages {
    margin-top: 4rem;
  }

  &__form-elements {
    margin-top: 3.7rem;
  }

  &__news-and-events {
    margin-top: 4.3rem;
  }

  &__location {
    margin-top: 3.08rem;
  }

  &__widget {
    margin-top: 3.4rem;
  }

  &__videos {
    margin-top: 0.33rem;
  }
}