include ../standard-buttons/standard-buttons
include ../arrow-buttons/arrow-buttons
include ../charts/charts
include ../sliders/sliders
include ../stages/stages
include ../form-elements/form-elements
include ../news-and-events/news-and-events
include ../location/location
include ../calendar-messaging/calendar-messaging
include ../messaging/messaging
include ../videos/videos

mixin main()
  section.main
    .main__standard-buttons
      +standard-buttons()
    .main__arrow-buttons
      +arrow-buttons()
    .main__charts
      +charts()
    .main__sliders
      +sliders()
    .main__stages
      +stages()
    .main__form-elements
      +form-elements()
    .main__news-and-events
      +news-and-events()
    .main__location
      +location()
    .main__widget
      +calendar-messaging()
    .main__videos
      +videos()
