include ../menu/menu

mixin header()
  header.header
    .header__logo Logo
    .header__menu
      +menu({
        "Главная": "main-page.html",
        "Спектакль": "performance.html",
        "Выбор места":"choosing-seat.html",
        "Данные покупателя": "customer-info.html",
        "ui-kit": "index.html"
      })