@import '../../vars.scss';

.header {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  padding: 1% 5%;
  background: $primary;
  
  &__logo {
    font-size: 2rem;
  }

  &__menu {
    margin: 0 4.17rem;
  }
}