.standart-buttons {
  &__buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 1.83rem 0.67rem 0;

    &_first-item-margin {
      margin-top: 5.17rem;
    }
  }
}