include ../standart-button/standart-button

mixin standart-buttons-block()
  section.standart-buttons
    h1.title Standart buttons
    .standart-buttons__buttons-row.standart-buttons__buttons-row_first-item-margin
      +std-button({color: "green", size: "small", type: "button", title: "Button"})
      +std-button({color: "green", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "small", type: "button", title: "Button"})
    .standart-buttons__buttons-row
      +std-button({color: "green", size: "small", type: "button", title: "Button"})
      +std-button({color: "green", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "small", type: "button", title: "Button"})
    .standart-buttons__buttons-row
      +std-button({color: "green", size: "small", type: "button", title: "Button"})
      +std-button({color: "green", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "big", type: "button", title: "Button"})
      +std-button({color: "orange", size: "small", type: "button", title: "Button"})