include ../search/mixin-search
include ../drop-down/drop-down

mixin searchBlock()
	section(class="search-drop-down main__search-drop-down")
		h1(class="title") Search / Drop down
		.search__wrap
			+searchForm({action: "", searchValue:"", placeholder:"Search", emptyResult: false})
			+searchForm({action: "", searchValue:"I’ve not found what I’m looking for...", placeholder:"", emptyResult: true})
		.drop-down__wrap
			+dropDown({theme: "custom", placeholder: "Choose an option", options: ["This is option 1", "This is option 2", "This is option 3", "This is option 4"]})