@import '../../colors.scss';

.user-info {
  position: relative;
  width: 13.75rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background: $main-green;
  word-break: break-word;
  color: $main-white;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.83rem;
    height: 0.83rem;
    background: inherit;
    border-radius: 0 0 0 0.17rem;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &_hovered {
    background: $main-gray;
  }

  &__name {
    margin: 0.83rem 1rem 0;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  
    &_hovered {
      color: $main-orange;
    }
  }

  &__job {
    margin: 0 1rem;
    font-size: 0.92rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;

    &_hovered {
      color: $gray-hovered;
    }
  }

  &__links {
    margin: 1.17rem 1.42rem;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__link {
    width: 2.08rem;
    height: 1.75rem;
    margin-left: 1.25rem;
    background-position: center center;
    background-repeat: no-repeat;

    &_fb {
      background-image: url('fb.png');
    }

    &_tw {
      background-image: url('twitter.png');
    }

    &_db {
      background-image: url('dribbble.png');
    }

    &_fb_hovered {
      background-image: url('fb-grey.png');
    }

    &_tw_hovered {
      background-image: url('twitter-orange.png');
    }

    &_db_hovered {
      background-image: url('dribbble-grey.png');
    }
  }
}

