section(class="arrow-buttons main__arrow-buttons")
    h1(class="title") Arrow buttons
    +arrowButton({parentName: "arrow-buttons", direction: "left", isDisabled: false })
    +arrowButton({parentName: "arrow-buttons", direction: "right", isDisabled: false })
    +arrowButton({parentName: "arrow-buttons", direction: "left", isDisabled: true })
    +arrowButton({parentName: "arrow-buttons", direction: "right", isDisabled: true })