mixin arrowButton(options)
  - var buttonDirection = "arrow-button_" + options.direction
  - var buttonColor = "arrow-button_" + options.color
  - var buttonDisabled = options.isDisabled ? true : false;
  - var classes = "arrow-button " + buttonDirection + " " + buttonColor;
  button(class=classes, type='button', disabled=buttonDisabled)
