mixin arrowButton(options)
  - var buttonElement = options.parentName ? options.parentName + "__arrow-button" : "";
  - var buttonDirection = "arrow-button--" + options.direction
  - var classes = "arrow-button " + buttonElement + " " + buttonDirection;
  - var buttonDisabled = options.isDisabled ? true : false;
  button(class=classes, type='button', disabled=buttonDisabled)
