@import '../colors';

.datepicker__date {
  width: 23.33rem;
  padding: 0.66rem 0 0.5rem;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 6.67rem;
  line-height: 0.325;
  color: $main-white;
  background: $main-orange;
  letter-spacing: -0.08;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.datepicker__calendar {
  .ui-datepicker {
    width: 23.33rem;
    padding: 0;

    & .ui-datepicker-title {
      font-family: 'Lato', Arial, sans-serif;
      font-weight: 300;
      font-size: 2rem;
      line-height: 1.08;
      color: $main-white;
      background: $dark-orange;
      border: none;
      border-radius: 0;
    }
  }

  .ui-widget.ui-widget-content {
    border: 0;
  }

  .ui-datepicker .ui-datepicker-header {
    padding: 0.4em 0 0.73em;
  }

  .ui-datepicker-header {
    background: $dark-orange;
    border: none;
    border-radius: 0;
  }

  .ui-icon {
    background-image: none;
    width: 0.66rem;
    height: 0.66rem;
    cursor: pointer;
  }

  .ui-datepicker .ui-datepicker-prev {
    margin-top: 0.917rem;
    width: 3.8em;
  }

  .ui-datepicker .ui-datepicker-next {
    margin-top: 0.917rem;
    width: 3.8em;
  }

  .ui-datepicker-prev .ui-corner-all {
    background-image: none;
  }

  .ui-icon-circle-triangle-w {
    border-top: 0.25rem solid $main-white;
    border-left: 0.25rem solid $main-white;
    transform: rotate(-45deg);
  }

  .ui-icon-circle-triangle-e {
    border-top: 0.25rem solid $main-white;
    border-left: 0.25rem solid $main-white;
    transform: rotate(135deg);
  }

  .ui-datepicker-year {
    display: none;
  }

  .ui-datepicker-calendar {
    margin: 0;
  }

  .ui-datepicker-calendar thead {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 0.75rem;
    color: $main-white;
    background: $main-orange;
    text-transform: uppercase;
  }

  .ui-datepicker th {
    padding: 1.2em 0.3em 0.8em;;
  }

  .ui-datepicker td {
    width: 3.25rem;
    padding: 0;
    border: 0.17rem solid $main-white;
  }

  .ui-widget-content .ui-state-default {
    padding: 0.17rem 0 0.08rem;
    font-family: 'SourceSansPro';
    font-size: 1.7rem;
    line-height: 1.75;
    color: $gray-calendar;
    background: $gray-light-background;
    border: 0;
    text-align: center;
  }

  .ui-widget-content .ui-state-default .ui-state-hover {
    border: 0;
    background: $main-orange;
    color: $main-white;
  }

  .ui-state-highlight, .ui-widget-content .ui-state-highlight{
    background: $main-orange;
    color: $main-white;
  }

  .ui-widget-content .ui-state-disabled {
    opacity: 1;
  }

  .ui-widget-content .ui-state-disabled .ui-state-default {
    color: $main-white;
  }

  .ui-widget-header .ui-state-hover {
    border: none;
    background: none;
  }

  .ui-datepicker .ui-datepicker-buttonpane {
    margin: 0;
    padding: 0;
  }

  .ui-datepicker .ui-datepicker-buttonpane button {
    width: 100%;
    margin: 0;
    padding: 1.1rem 1.54rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: $gray-calendar;
    background: $main-gray;
    text-transform: uppercase; 
    text-align: left;
  }
}