mixin arrow-button(options)
  - const { direction, color, isDisabled } = options;
  - 
    const directions = {
      left: "left",
      right: "right"
    };
  -
    const colors = {
      green: "green",
      white: "white"
    }
  - const buttonDisabled = isDisabled ? true : false;
  button(class=`arrow-button arrow-button_direction_${directions[direction] || directions.right} arrow-button_color_${colors[color] || colors.green}`, type="button", disabled=buttonDisabled)
