mixin arrow-button(options)
  - const buttonDisabled = options.isDisabled ? true : false;
  button(class=`arrow-button arrow-button_direction_${options.direction} arrow-button_color_${options.color}`, type='button', disabled=buttonDisabled)
