include ../title/title
include ../toggle/toggle

mixin toggles-block()
  section.toggles
    +title("Toggles")
    .toggles__row
      .toggles__wrap
        +toggle()
      .toggles__wrap
        +toggle("checked")