include ../title/title
include ../toggle/toggle

mixin toggles-block()
  section.toggles
    +title("Toggles")
    .toggles-block__row
      .toggles-block__wrapper
        +toggle()
      .toggles-block__wrapper
        +toggle("checked")