include ../stages/stages
include ../search/search
include ../standart-button/standart-button
include ../user-photo/user-photo
include ../user-info/user-info
include ../pie-chart/pie-chart
include ../slider-with-scale/slider-with-scale

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		.wrapper
			include header/header
			.new-event
				main
					section
					h1.new-event__title Новое мероприятие
						+stages({steps: "2", activeStep: "2"})
						.new-event__search-block
							h2.new-event__second-title Добавить друзей
							+search({action: "", searchValue:"", placeholder: "Search", emptyResult: false})
						.friends-block
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-photo({imagePath: "../user-profile/user.jpg", imageAlt: ""})
									+user-info({name: "John Smith", job: "Ux designer", theme: "hovered"})
								.friend-block__chart
									+pie-chart({value: "99"})
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-photo({imagePath: "img/al.jpg", imageAlt: ""})
									+user-info({name: "John Smith", job: "Ux designer", theme: "hovered"})
								.friend-block__chart
									+pie-chart({value: "1"})
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-photo({imagePath: "img/11.jpg", imageAlt: ""})
									+user-info({name: "John Smith", job: "Ux designer", theme: "hovered"})
								.friend-block__chart
									+pie-chart({value: "99"})
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-photo({imagePath: "img/12.jpg", imageAlt: ""})
									+user-info({name: "John Smith", job: "Ux designer", theme: "hovered"})
								.friend-block__chart
									+pie-chart({value: "57"})
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-photo({imagePath: "img/13.jpg", imageAlt: ""})
									+user-info({name: "John Smith", job: "Ux designer", theme: "hovered"})
								.friend-block__chart
									+pie-chart({value: "5"})

						
			include footer/footer
			script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")
