include ../search/search
include ../standart-button/standart-button
include ../user-profile/user-profile

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		.wrapper
			include header/header
			.new-event
				main
					section
					h1.new-event__title Новое мероприятие
						.new-event__search-block
							h2.new-event__second-title Добавить друзей
							+search({action: "", searchValue:"", placeholder: "Search", emptyResult: false})
						.friends-block
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-profile({ imagePath: "../user-profile/user.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-profile({ imagePath: "img/al.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-profile({ imagePath: "img/11.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-profile({ imagePath: "img/12.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })
							.friend-block
								.friend-block__button
									+std-button({color: "green", size: "small", type: "button", title: "Добавить"})
									+std-button({color: "orange", size: "small", type: "button", title: "Удалить"})
								.friend-block__user-profile
									+user-profile({ imagePath: "img/13.jpg", imageAlt: "", name: "John Smith", job: "Ux designer", theme: "hovered" })

						
			include footer/footer
			script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")
