include ../toggle/toggle
include ../slider-with-scale/slider-with-scale
include ../drop-down/drop-down
include ../standart-button/standart-button
include ../event/event
include ../arrow-button/arrow-button

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title I'm a title
	body
		.wrapper
			include header/header
			.content
				aside.content__left-column
					.filter
						h2.filter__title Фильтры
						.filter__toggle
							+toggle() 
							p.filter__lable Интересные
						.filter__toggle
							+toggle("checked")
							p.filter__lable Неинтересные
						.filter__slider
							p Оценка
							+slider-with-scale({value: "5", min: "1", max: "5", stepsNumber: "6"})
						.filter__drop-down
							+drop-down({ theme: "custom", placeholder: "Choose An Option", options: ["This is option 1", "This is option 2", "This is option 3", "This is option 4"] })
				main.content__right-column
					section
						.top-bar
							h1.content__title Мероприятия
							+std-button({color: "fullgreen", size: "big-for-events", type: "button", title: "Добавить свое"})
						.events-block__wrap
							.events-block__item
								+event({
									color: "green",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
							.events-block__item
								+event({
									color: "gray",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
							.events-block__item
								+event({
									color: "orange",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
							.events-block__item
								+event({
									color: "green",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
							.events-block__item
								+event({
									color: "green",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
							.events-block__item
								+event({
									color: "green",
									day: "24",
									month: "Aug",
									title: "This is the title",
									text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
									imgPath: "../event/event-image.jpg"
								})
								.paginator
									+arrow-button({ direction: "left", color: "white", isDisabled: false })
									+arrow-button({ direction: "right", color: "white", isDisabled: false })
			include footer/footer