include ../stages/stages
include ../form/form
include ../calendar/calendar
include ../map/map

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		include header/header
		.new-event
			main
				section
				h1.new-event__title Новое мероприятие
					+stages({steps: "2", activeStep: "1"})
					h2.new-event__second-title Место
					+map()
					h2.new-event__second-title Описание и время
					.new-event__new-date-wrap
						+calendar()
						.new-event__form-wrap
							+form()
					
		include footer/footer
		script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")
		script(src="main.bundle.js")
