include ../video/video
include ../pie-chart/pie-chart
include ../map/map
include ../standart-button/standart-button

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		include header/header
		main.new-event
			section
			.new-event__left-column
				img(src="img/romeo.jpg")
				.videos__wrap
						+video({src: "https://www.youtube.com/embed/swcG66soqps"})
			.new-event__right-column
				h1.new-event__title Ромео и Джульетта
				p.description Если задуматься, в&nbsp;знаменитой истории Ромео и&nbsp;Джульетты нет ничего слащавого. Ничего от&nbsp;конфетно-открыточных историй на&nbsp;День Святого Валентина. Страстное влечение, краткий период тайного счастья&nbsp;&mdash; и&nbsp;неотвратимый смертельный финал. Герои пытаются бороться с&nbsp;роком&nbsp;&mdash; но&nbsp;каждый шаг лишь приближает развязку: законы трагедии неумолимы. Этой любви не&nbsp;суждена долгая жизнь.
				.new-event__charts
					.new-event__chart
						+pie-chart({value: "70"})
						p Оценка критиков
					.new-event__chart
						+pie-chart({value: "90"})
						p Оценка зрителей
				h2.new-event__second-title Место
					+map()
				.new-event__button
					+std-button({color: "green", size: "wide", type: "button", title: "Билеты"})
					
		include footer/footer
		script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")
