.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    padding: 1% 5%;
    flex: 1 0 auto;

    &__left-column {
        width: 23.33rem;
        margin: 5% 3% 0 0;
    }

    &__right-column {
        margin: 5% 3%;
    }

    &__title {
        margin: 0;
        font-size: 32px;
    }
}

.filter {
    &__title {
        margin: 0;
        font-size: 24px;
    }

    &__toggle {
        display: flex;
        justify-content: flex-start;
        margin: 1rem 0;
    }

    &__lable {
        margin: 5px 10px;
    }

    &__drop-down,
    &__choose-date {
        margin-top: 2rem
    }
}

.events {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &__button {
        margin-left: 2rem;
    }
}

.events-block__wrap {
    display:  flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.events-block__item {
    margin: 20px 20px 0 0;
}

.paginator {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    margin-top: 2rem;
}