include ../progressbar/progressbar
include ../calendar/calendar

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		include header/header
		.content
			main
				section
					+progressbar({steps: "2", activeStep: "1"})
					+newCalendar()
					
		include footer/footer
	script(src="main.bundle.js")
