include ../stages/stages
include ../drop-down/drop-down
include ../form/form


doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		title I'm a title
	body
		include header/header
		main.tickets
			section.tickets__wrap
				h1 Купить билеты
				+stages({ steps: "2", activeStep: "1" })
				.tickets__seat
					+drop-down({ theme: "custom", placeholder: "Choose An Option", options: ["Ряд 1, место 1", "Ряд 1, место 2", "Ряд 3, место 3", "Ряд 3, место 5", "Ряд 3, место 6" ] })
				.tickets__contacts
					+form()

			

					
		include footer/footer
		script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")
