mixin stages(options)
    ul.progressbar
        -var i = 1
        while i <= options.steps
            if i <= options.activeStep
                li.progressbar__item.progressbar__item_active
                    span.progressbar__step= i++
            else
                li.progressbar__item
                    span.progressbar__step= i++