section(class="form-elements main__form-elements")
	h1(class="title form-elements__title") Form elements
	div.form-elements__wrap
		include ../form/form
		div(class="form-elements__column")
			include ../toggles/mixin-toggles
			include ../toggles/toggles
			include ../tick-box/tick-box
		include ../search/search
		include ../user-profile/profile