include ../standart-button/standart-button

mixin form()
  form.form(name="form", action="")
    input.form__input-text(type="text", name="name", placeholder="Your Name")
    .form__result.form__result_with_error error
    input.form__input-text(type="email", name="email", placeholder="Your Email")
    .form__result.form__result_with_success thanks!
    textarea.form__textarea(name="message", placeholder="Your Message")
    .form__button-wrap
      +std-button({ color: "fullgreen", size: "big", type: "submit", title: "Submit" })