include ../standart-button/button

mixin newForm()
	form(class="form", name="form", action="")
		input(class="form__input-text", type="text", name="name", placeholder="Your Name")
		.form__result
		input(class="form__input-text", type="text", name="email", placeholder="Your Email")
		.form__result
		textarea(class="form__textarea" name="message", placeholder="Your Message" )
		.form__button-wrap
			+stdButton({color: "fullgreen", size: "big", type: "submit", title: "Submit"})