@import '../colors';

.form {
  display: flex;
  flex-wrap: wrap;

  &::-webkit-input-placeholder {
    color: $main-gray-text;
  }

  &__input-text {
    width: 60.71%;
    margin-bottom: 1rem;
    padding: 0.5rem 1.08rem 0.42rem;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-size: 1.17rem;
    border: none;
    border-radius: 0.25rem;
    background: $main-gray;
  }

  &__textarea {
    width: 100%;
    height: 5.58rem;
    padding: 0.83rem 1.08rem 0.92rem;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-size: 1.17rem;
    border: none;
    border-radius: 0.25rem;
    background: $main-gray;
    resize: none;
  }

  &__result {
    position: relative;
    display: none;
    width: 27.86%;
    padding: 0.67rem 0;
    margin-left: 2.68%;
    margin-bottom: 1rem;
    font-size: 0.83rem;
    color: $main-white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.25rem;
    
    &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.16rem;
    width: 0.42rem;
    height: 0.42rem;
    margin-top: -0.16rem;
    transform: rotate(45deg);
    }

    &_with_error {
      display: block;
      background: $main-orange;
      
      &::before {
      background: $main-orange;
      }
    }

    &_with_success {
      display: block;
      background: $main-green;

      &::before {
          background: $main-green;
      }
    }
  }

  &__button-wrap {
      margin: 0.83rem 0 0 auto;
  }
}