form(class="form form-elements__form", name="form", action="")
	label(class="visually-hidden" for="name") Name
	input(class="form__input-text", type="text", id="name", name="name", placeholder="Your Name")
	div(class="form__result" id="result-name")
	label(class="visually-hidden" for="email") Email
	input(class="form__input-text", type="text", id="email", name="email", placeholder="Your Email")
	div(class="form__result" id="result-email")
	textarea(class="form__textarea" name="", cols="30", rows="4", placeholder="Your Message" )
	input(class="button form__button form__button--bggreen button--green" type="submit", value="Submit")