mixin std-button(options)
  button(class=`button js-button button_color_${options.color} button_size_${options.size}`, type=type)= options.title
    div.button__ripple.js-button__ripple
      span.button__ripple_circle
