include ../calendar/calendar
include ../messaging/messaging

mixin calendar-messaging()
  .calendar-messaging
    .calendar-messaging__item
      +calendar()
    .calendar-messaging__item
      +messaging()



