include ../user-photo/user-photo
include ../user-info/user-info

mixin user-profile(options)
  - const { imagePath, imageAlt, name, job, theme } = options;
  .user-profile
    +user-photo({ imagePath, imageAlt })
    +user-info({ name, job, theme })