include ../title/title
include ../user-profile/user-profile

mixin user-profiles()
  section.user-profile
    +title("User profile")
    .user-profile__item.user-profile__item_with-margin
      +user-profile({
        image: "/../images/user.jpg",
        imageAlt: "",
        name: "John Smith",
        job: "Ux designer",
        theme: "",
        links: {
          facebook: "user-link.html",
          twitter: "user-link.html",
          dribble: "user-link.html",
        }})
    .user-profile__item
      +user-profile({
        image: "/../images/user-1.jpg",
        imageAlt: "",
        name: "Sarah Brown",
        job: "Developer",
        theme: "green",
        links: {
          facebook: "user-link.html",
          twitter: "user-link.html",
          dribble: "user-link.html",
        }})