extends ../template/template.pug

block include
  include ../../blocks/datepicker/datepicker
  include ../../blocks/drop-down/drop-down
  include ../../blocks/toggle/toggle
  include ../../blocks/tick-box/tick-box
  include ../../blocks/event/event
  include ../../blocks/arrow-button/arrow-button

block title
  title Главная
  
block content
  .main-page
    aside.main-page__left-column
      .main-page__filter
        h2.main-page__title Фильтры
        .main-page__date
          +datepicker()
        .main-page__type
          +drop-down({ theme: "custom", placeholder: "Тема", items: ["Концерты", "Театры", "Кино"] })
        .main-page__novelty
          .main-page__tick-box
            +tick-box(false) 
            p.main-page__label Премьеры
          .main-page__tick-box
            +tick-box(true)
            p.main-page__label Все
    main.main-page__right-column
      section.main-page__content
        .main-page__top-bar
          h1.main-page__title Мероприятия
        .main-page__events
          .main-page__event-item
            +event({
              color: "primary",
              day: "4",
              month: "Фев",
              title: "Ромео и Джульетта",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "/../images/romeo.jpg"
            })
          .main-page__event-item
            +event({
              color: "primary",
              day: "7",
              month: "Фев",
              title: "Золотой теленок",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/telenok.jpg"
            })
          .main-page__event-item
            +event({
              color: "secondary",
              day: "8",
              month: "Фев",
              title: "Art Jazz",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/jazz.jpg"
            })
          .main-page__event-item
            +event({
              color: "default",
              day: "10",
              month: "Фев",
              title: "Плохие парни",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/badboys.jpg"
            })
          .main-page__event-item
            +event({
              color: "secondary",
              day: "14",
              month: "Фев",
              title: "Snoop Dogg show",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/snoop.jpg"
            })
          .main-page__event-item
            +event({
              color: "default",
              day: "15",
              month: "Фев",
              title: "1917",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/1917.jpg"
            })
          .main-page__event-item
            +event({
              color: "default",
              day: "16",
              month: "Фев",
              title: "Шахматист",
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              image: "images/shachmatist.jpg"
            })
        .main-page__paginator
          +arrow-button({ direction: "left", color: "white", isDisabled: true })
          +arrow-button({ direction: "right", color: "white", isDisabled: false })