.form-elements {
  &__row {
    display: flex;
    @media(max-width: 640px) {
      display: block;
    }

    &_margin-for-first-row {
      margin-top: 2.17rem;
    }

    &_margin-for-second-row {
      margin-top: 4.75rem;
    }
  }

  &__left-column,
  &__right-column {
    width: 50%;

    @media(max-width: 640px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &_margin-for-form-block {
    margin-top: 1.17rem;
  }

  &_width-for-form-block {
    width: 49%;
  }

  &__toggles {
    margin-left: 1.42rem;
  }

  &__tick-boxes {
    margin-top: 2.25rem;
    margin-left: 0.83rem;
  }

  &__user-profile {
    margin-left: 2.08rem;
   }
}