section.standart-buttons
    h1.title Standart buttons
    button(class="button button--green button--small", type="button") Button
        div(class="c-ripple js-ripple")
            span(class="c-ripple__circle")
    button(class="button button--green", type="button") Button
        div(class="c-ripple js-ripple")
            span(class="c-ripple__circle")
    button(class="button button--orange", type="button") Button
        div(class="c-ripple js-ripple")
            span(class="c-ripple__circle")
    button(class="button button--orange button--small", type="button") Button
        div(class="c-ripple js-ripple")
            span(class="c-ripple__circle")