include ../form/form
include ../toggles/toggles
include ../tick-box/tick-box
include ../searches/searches

section(class="form-elements main__form-elements")
	h1(class="title form-elements__title") Form elements
	.form-elements__row
		.form-elements__left-column.form-elements_margin-for-first-block
			+newForm()
		.form-elements__right-column
			+togglesBlock()
			+tickBlock()
	.form-elements__row
		.form-elements__left-column
			+searchBlock()
		.form-elements__right-column
			include ../user-profile/profile
