include ../form/form
include ../toggles/toggles
include ../tick-boxes/tick-boxes
include ../searches/searches
include ../user-profile/profile

mixin formBlock()
	section.form-elements
		h1.title Form elements
		.form-elements__row.form-elements__row_margin-for-first-row 
			.form-elements__left-column.form-elements_margin-for-form-block
				+newForm()
			.form-elements__right-column
				.form-elements__toggles
					+togglesBlock()
				.form-elements__tick-boxes
					+tickBlock()
		.form-elements__row.form-elements__row_margin-for-second-row 
			.form-elements__left-column
				+searchBlock()
			.form-elements__right-column
				.form-elements__user-profile
					+userProfileBlock()
