mixin drop-down(options)
  - const { theme, placeholder, items } = options;
  select.drop-down.js-drop-down(data-theme=theme)
    option(disabled, selected)= placeholder
    each item in items
      option= item