mixin toggle(isChecked)
  - const toggleChecked = isChecked ? true : false;
  label.toggle
    input.toggle__input(type="checkbox", checked=toggleChecked)
    span.toggle__label
    span.toggle__handle