mixin toggle(isChecked)
  - const toggleChecked = isChecked ? true : false;
  label.switch
    input.switch__input(type="checkbox", checked=toggleChecked)
    span.switch__label(data-on="On", data-off="Off")
    span.switch__handle