include ../tick/mixin-tick-box

mixin tickBlock()
	section(class="tick-boxes main__tick-boxes")
		h1(class="title") Tick boxes
		.tick-boxes__row
			.tick-boxes__wrap
				+tickBox()
			.tick-boxes__wrap
				+tickBox("disabled")