.news-and-events__wrap {
  margin-top: 1.952rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media(max-width: 592px) {
    justify-content: center;
}
}