section(class="stages-bar main__stages-bar")
    h1(class="title") Stages
    ul(class="progressbar stages-bar__progressbar")
        +progressbarItem('1', 'active')
        +progressbarItem('2', 'active')
        +progressbarItem('3', 'active')
        +progressbarItem('4')
        +progressbarItem('5')

