mixin newsItem(content)
	div(class="news")
		img(class="news__image", src=content.imgPath, alt="")
		div(class="news__block")
			h2(class="news__title")= content.title
			p(class="news__date")= content.date 
			p(class="news__text")= content.text