mixin stdButton(options)
  - var buttonColor = "button_" + options.color;
  - var buttonSize = "button_" + options.size;
  - var classes = "button js-ripple " + buttonColor + " " + buttonSize;
  button(class=classes, type=type)= options.title
    div(class="button__ripple button__ripple-js")
      span(class="button__ripple-circle")
