mixin std-button(options)
  button(class=`button js-ripple button_${options.color} button_${options.size}`, type=type)= options.title
    div(class="button__ripple button__ripple-js")
      span.button__ripple-circle
