div(class="slider sliders__slider" data-value="10")
    div(class="slider__handle ui-slider-handle")

div(class="slider sliders__slider" data-value="90")
    div(class="slider__handle ui-slider-handle")