div(class="slider-with-scale sliders__slider-with-scale")
    div(id="slider-with-scale__handle" class="ui-slider-handle")
    div(class="slider-scale")
        - var i = 0;
        while i < 5
            span= i++ * 25