.main__sliders {
    margin-top: 18px;
}

.sliders {
&__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

&__slider,
&__slider-with-scale {
    width: 43%;
    margin: 37px 0 0;
}

& &__slider,
& &__slider-with-scale {
    border: none;
}
}

.slider,
.slider-with-scale {
    height: 5px;
    background: #e5e5e5;
}

#slider__handle,
#slider-with-scale__handle {
    position: relative;
    top: -4px;
    width: 19.6px;
    height: 19.6px;
    margin-top: -4px;
    padding: 0;
    line-height: 1.6em;
    border-radius: 50%;
    border: none;
}

.sliders .slider__handle--orange,
.sliders .slider__handle--orange:active {
    background: #e75735;
}

.sliders .slider-with-scale__handle--green,
.sliders .slider-with-scale__handle--green:active {
    background: #4eb7a8;
}

.slider {
&__buble {
    position: absolute;
    width: 22px;
    bottom: 27px;
    left: -50%;
    background: #e75735;
    padding: 4px 7px;
    border: 1px solid #e75735;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 1.2;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
}

&__buble::after {
    content: "";
    position: absolute;
    left: 14px;
    bottom: -4px;
    border: 4px solid #e75735;
    transform: rotate(45deg);
}

&-scale {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 900;
    font-size: 11px;
    line-height: 1.2;
    color: #d1d1d1;
}
}