include ../slider-with-bubble/slider
include ../slider-with-scale/slider

mixin slidersBlock()
    section.sliders
        h1.title Sliders
        .sliders__wrap
            .sliders__left-column
                +sliderWithBubble({value: "40", min: "0", max: "110"})
            .sliders__right-column
                +sliderWithScale({value: "75", min: "0", max: "100", stepsNumber: "5"})