.slider-with-scale {
    height: 5px;
    background: #e5e5e5;

    &.ui-widget.ui-widget-content {
        border: 0
    }

    & &__handle {
        position: relative;
        top: -8px;
        width: 19.6px;
        height: 19.6px;
        padding: 0;
        line-height: 1.6em;
        border-radius: 50%;
        border: none;
        
        &_green,
        &_green:active {
            background: #4eb7a8;
    }
    }

    & &__range_green {
        background: #4eb7a8;
    }

    &__scale {
        display: flex;
        justify-content: space-between;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 900;
        font-size: 11px;
        line-height: 1;
        color: #d1d1d1;
    }
}