@import './vars';
@import './mixins';

@include font-face('Lato', 900, 'normal','fonts/lato-black');
@include font-face('Lato', 700, 'normal','fonts/lato-bold');
@include font-face('Lato', 400, 'normal','fonts/lato-regular');
@include font-face('Lato', 300, 'normal','fonts/lato-light');
@include font-face('SourceSansPro', 400, 'normal','fonts/source-sans-pro-regular');
@include font-face('SourceSansPro', 300, 'normal','fonts/source-sans-pro-light');

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: $text-primary;
  background: $white;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}