@import './colors';

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato Black'),
        url('fonts/Lato-Black.woff') format('woff'),
        url('fonts/Lato-Black.ttf') format('truetype'),
        url('fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato Light'),
        url('fonts/Lato-Bold.woff') format('woff'),
        url('fonts/Lato-Bold.ttf') format('truetype'),
        url('fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato Light'),
        url('fonts/Lato-Light.woff') format('woff'),
        url('fonts/Lato-Light.ttf') format('truetype'),
        url('fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato Black'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype'),
        url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro Regular'), local('Lato Light'),
        url('fonts/SourceSansPro-Regular.woff') format('woff'),
        url('fonts/SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro Light'), local('Lato Light'),
        url('fonts/SourceSansPro-Light.woff') format('woff'),
        url('fonts/SourceSansPro-Light.ttf') format('truetype'),
        url('fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100%;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: $main-text;
    background: $main-white;
}

body {
    margin: 0;
    height: 100%;
}

.main {
    width: 594px;
    margin: 0 auto;

    &__standart-buttons {
        margin: 71px auto 0;
    }

    &__arrow-buttons {
        margin: 46px auto 0;
    }

    &__charts {
        margin: 34px auto 0;
    }

    &__sliders {
        margin-top: 1.67rem;
    }

    &__stages-bar {
        margin-top: 48px;
    }

    &__form-elements {
        margin-top: 43px;
    }

    &__news-and-events {
        margin-top: 82px;
      }

    &__location {
        margin-top: 37px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;
    }

    &__videos {
        margin-top: 40px;
    }
}