$main-green: #4eb7a8;
$main-green-shadow:#28a290;
$deep-green: #28a290;
$dark-green:#43ac9d;
$dark-green-shadow:#379285;
$main-orange: #e75735;
$main-orange-shadow: #bf3e1f;
$main-white: #ffffff;
$disabled: #e5e5e5;