$main-green: #4eb7a8;
$main-green-shadow:#28a290;
$deep-green: #28a290;
$dark-green:#43ac9d;
$dark-green-shadow:#379285;
$main-orange: #e75735;
$main-orange-shadow: #bf3e1f;
$dark-orange: #d54c2c;
$main-white: #ffffff;
$main-text: #4f4f4f;
$main-gray: #e5e5e5;
$main-gray-text: #888888;
$gray-dark: #777777;
$gray-light: #c0c0c0;
$gray-light-background: #f2f2f2;
$gray-profile: #4f4f4f;
$gray-textarea: #666666;
$gray-calendar: #868686;