$main: #4eb7a8;
$main-dark:#28a290;
$main-darker:#43ac9d;
$main-darkest:#379285;

$second: #e75735;
$second-dark: #d54c2c;
$second-darker: #bf3e1f;


$third: #888888;
$third-light: #e5e5e5;
$third-lighter: #f2f2f2;
$third-lightest: #ffffff;
$third-dark: #777777;
$third-darker: #666666;
$third-darkest: #4f4f4f;
$third-light-chart: #9d9d9d;
$third-light-scale: #d1d1d1;