include blocks/main/main

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="msapplication-TileColor" content="#2d89ef")
    meta(name="theme-color" content="#ffffff")
    title UI-kit
    link(rel="mask-icon" href="favicon/favicon.svg" color="#0270ba")
    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    link(rel="manifest" href="favicon/site.webmanifest")
    link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ff0000")
    link(rel="shortcut icon" href="favicon/favicon.ico")
  body
    +main()
    script(src="https://api-maps.yandex.ru/2.1/?apikey=4ddfe254-a524-4b68-a64b-af1b457f35c6&lang=en_US")