@mixin font-face($font, $weight, $style, $file) {
  @font-face {
    font-family: $font;
    font-weight: $weight;
    font-style: $style;
    src:
      url('#{$file}.woff') format('woff'),
      url('#{$file}.woff') format('truetype'),
      url('#{$file}.svg') format('svg');
  }
}

@mixin standard-button-shadow($color) {
  box-shadow: 0 0.25rem 0 0 $color;
}

@mixin arrow-borders () {
  border-width: 0.25rem;
  border-style: solid;
}