$primary: #4eb7a8;
$primary-dark:#28a290;
$primary-darker:#43ac9d;
$primary-darkest:#379285;

$secondary: #e75735;
$secondary-dark: #d54c2c;
$secondary-darker: #bf3e1f;

$background-primary: #e5e5e5;
$background-secondary: #f2f2f2;

$text-primary: #4f4f4f;
$text-secondary: #888888;

$white: #ffffff;
$black: rgba(0, 0, 0, 0.29);
$gray-lightest: #d1d1d1;
$gray-lighter: #9d9d9d;
$gray-light: #868686;
$gray-default: #777777;
$gray-dark: #757575;
$gray-darker: #747474;

$xs: 660px;
$small: 690px;
$medium: 780px;
$large: 850px;
$xl: 1160px;