$primary: #4eb7a8;
$primary-dark:#28a290;
$primary-darker:#43ac9d;
$primary-darkest:#379285;

$secondary: #e75735;
$secondary-dark: #d54c2c;
$secondary-darker: #bf3e1f;

$background-default: #e5e5e5;
$background-primary: #ffffff;
$background-secondary: #f2f2f2;

$content-default: #4f4f4f;
$content-primary: #888888;
$content-secondary: #ffffff;
$content-chart: #9d9d9d;
$content-calendar: #868686;
$content-messaging: #777777;

$chart-default: #747474;
$slider-scale: #d1d1d1;
$icons: #757575;

$xs: 660px;
$small: 690px;
$medium: 780px;
$large: 850px;
$xl: 1160px;