extends ../template/template.pug

block include
  include ../../blocks/stages/stages
  include ../../blocks/drop-down/drop-down
  include ../../blocks/standard-button/standard-button

block title
  title Выбор места
  
block content
  main.choosing-seat
    section.choosing-seat__wrap
      +stages({ steps: "2", activeStep: "1" })
      h1 Выбор места
      .choosing-seat__seat
        +drop-down({ theme: "custom", placeholder: "Ряд и место", items: ["Ряд 4, место 2", "Ряд 4, место 7", "Ряд 5, место 3", "Ряд 7, место 5", "Ряд 7, место 6" ] })
      .choosing-seat__add-seat
        +standard-button({ color: "green", size: "small", type: "button", title: "Добавить" })
      .choosing-seat__next-step
        +standard-button({ color: "orange", size: "big", type: "button", title: "Следующий шаг" })
