@import '../../colors.scss';

.form {
  display: flex;
  flex-wrap: wrap;

  &::-webkit-input-placeholder {
    color: $main-gray-text;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 1rem;
    font-family: "SourceSansPro", Arial, sans-serif;
  }

  &__input-text {
    flex-grow: 1;
    padding: 0.33rem 1.08rem 0.42rem;
    font-size: 1.17rem;
    font-family: "SourceSansPro", Arial, sans-serif;
    border: none;
    border-radius: 0.25rem;
    background: $main-gray;
  
    &:valid:not(:placeholder-shown) + .form__result {
      display: block;
      background: $main-green;

        &::before {
          background: $main-green;
        }

        &::after {
          content: 'thanks!';
        }
    }

    &:invalid:not(:placeholder-shown) + .form__result {
      display: block;
      background: $main-orange;

      &::before {
        background: $main-orange;
      }

      &::after {
        content: 'error';
      }
    }
  }

  &__result {
    position: relative;
    display: none;
    width: 24.86%;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    font-size: 0.83rem;
    color: $main-white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.25rem;
    
    &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.16rem;
    width: 0.42rem;
    height: 0.42rem;
    margin-top: -0.16rem;
    transform: rotate(45deg);
    }
  }

  &__textarea {
    width: 100%;
    height: 5.58rem;
    padding: 0.83rem 1.08rem 0.92rem;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-size: 1.17rem;
    border: none;
    border-radius: 0.25rem;
    background: $main-gray;
    resize: none;
  }

  &__button {
    margin: 0.83rem 0 0 auto;
  }
}