.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 0;
    list-style: none;

    &__item {
        margin: 0 20px;
        padding-bottom: 1px;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid rgba(255,255,255,0.5)
    }
}