include ../arrow-button/arrow-button

mixin arrow-buttons-block()
    section.arrow-buttons
        h1.title Arrow buttons
        .arrow-buttons__row
            +arrow-button({direction: "left", color: "white", isDisabled: false})
            +arrow-button({direction: "right", color: "white", isDisabled: false})
            +arrow-button({direction: "left", color: "white", isDisabled: true})
            +arrow-button({direction: "right", color: "white", isDisabled: true})
            +arrow-button({direction: "left", color: "green", isDisabled: false})
            +arrow-button({direction: "right", color: "green", isDisabled: false})